node_modules
.next
.env
.env.*
.git
.gitignore
Dockerfile
.dockerignore
README.md
coverage
test-results
playwright-report
cypress/screenshots
cypress/videos
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.pnp
.pnp.*
.yarn
*.tsbuildinfo
next-env.d.ts
